@media (max-width: 700px){
    header > nav{
      height: 100%;
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 0px 00px 0px 0px;
    }
    nav{
      padding: 0px;
    }
  }