@import url('./componentes/paleta.css');
html {
    overflow-x: hidden;
    overflow-y: visible;
}
::-webkit-scrollbar{
    width: 4px;
    background-color: var(--white);
    outline: 0px solid var(--white);
}
::-webkit-scrollbar-thumb{
    width: 2px;
    background-color: var(--white);
    border-radius: 50px;
    border: 0px solid var(--white);
}
::-webkit-scrollbar:hover{
    outline: 2px solid var(--black);
    background-color: black;
}
